# ==========================================================
# FILL IN VARIABLES AS NEEDED FOR EACH SERVICE
# ==========================================================

# Database
DATABASE_NAME=CommsDb
DATABASE_PORT=5432
DATABASE_USER=<your_database_username>
DATABASE_PASSWORD=<your_database_password>

# Backend
BACKEND_PORT=5177
JWT_KEY=<your_jwt_secret_min_32_chars>

# Seq
SEQ_ADMIN_PASSWORD=<your_seq_admin_password>