services:
  postgres:
    image: postgres:16
    restart: unless-stopped

    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}

    ports:
      - "${DATABASE_PORT}:5432"

    volumes:
      - comms_postgres_data:/var/lib/postgresql/data

volumes:
  comms_postgres_data:
