{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Host=localhost;Database=CommsDb;Port=5432;Username=YOUR_USER;Password=YOUR_PASSWORD"
  }
}
